/* Universal styling */

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
}

header, footer {
  padding: 0 1.5rem;
}

.section {
  padding: 2rem 1.5rem;
}

.main {
  position: relative;
  top: 4rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

p, h2, h3, h4 {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: lightblue;
}

/* Top menu bar */

header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.logo, .menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  margin-left: 1rem;
}

.logo span {
  font-size: 1.5rem;
  text-transform: uppercase;;
}

#colmar {
  font-weight: bold;
}

.logo img {
  height: 2rem;
  width: auto;
}

/* Hero section */

.hero.section {
  background-color: lightgray;
  display: flex;
}

.hero img {
  width: 60%;
  height: auto;
  align-self: center;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
  width: 30%;
}

button {
  background-color: black;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.cta * {
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: normal;
}

/* Info section */

.info {
  display: flex;
}

.practice {
  width: 60%;
}

.practice img {
  width: 100%;
  height: auto;
}

.key-info {
  width: 40%;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

.info-block {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.info-block img {
  width: 35%;
  height: auto;
}

.info-caption {
  width: 65%;
  padding: 1rem;
}

/* Courses section */

.courses.section {
  background-color: lightgray;
}

.courses h2 {
  text-align: center;
}

.courses.block {
  margin: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.course.details {
  background-color: white;
  margin: 0;
  height: 7rem;
  padding: 1rem;
}

.course.item {
  width: 30%;
  margin: 2rem 1rem 0;
}

.course.image {
  width: 100%;
  margin: 0;
}

.course img {
  width: 100%;
  height: auto;
}

h4 {
  text-transform: uppercase;
  color: gray;
}
