/* Universal styling */

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
}

.section {
  padding: 2rem 1.5rem;
}

.main {
  position: relative;
  top: 4rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}

p, h2, h3, h4 {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #58747F;
}

.quote {
  color: gray;
}

/* Universal mobile styling */
@media only screen and (max-width: 425px) {
  .section {
    padding: 2rem 1rem;
  }
}

/* Top menu bar */

header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #58747F;
}

nav {
  margin-right: 1.5rem;
}

.logo {
  margin-left: 1.5rem;
}

.logo, nav ul {
  display: flex;
  align-items: center;
}

ul li {
  margin-left: 1rem;
}

.logo span {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}

#colmar {
  font-weight: bold;
}

#logo {
  height: 2rem;
  width: auto;
}

.menu.mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* Menu desktop media queries */
@media only screen and (min-width: 769px){
  .menu.mobile {
    display: none;
  }
}

/* Menu mobile media queries */
@media only screen and (max-width: 768px){
  .menu.desktop {
    display: none;
  }

  .logo {
    display: none;
  }
}

/* Hero section */

.hero.section {
  background-color: #A6CCE0;
  display: flex;
}

.hero img {
  width: 60%;
  height: auto;
  align-self: center;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
  width: 30%;
}

button {
  background-color: #343A40;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

button a {
  color: white;
}

button:hover {
  background-color: #68747F;
  cursor: pointer;
}

.cta * {
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: normal;
  font-family: 'Ubuntu', sans-serif;
}

.hero p {
  font-size: 1.25rem;
}

/* Hero section tablet */
@media only screen and (max-width:768px) {
  .hero.section {
    flex-direction: column;
    padding: 0;
  }

  .hero img, .cta {
    width: 100%;
    margin: 0;
  }

  button {
    width: 90%;
    align-self: center;
  }

  .cta h1, .cta p {
    padding-left: 1rem;
  }
}

/* Info section */

.info {
  display: flex;
}

.practice {
  width: 60%;
}

.practice img {
  width: 100%;
  height: auto;
}

.key-info {
  width: 40%;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

.info .info-block:last-child {
  background-color: #A6CCE0;
}

.info-block {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.info-block img {
  width: 35%;
  height: auto;
}

.info-caption {
  width: 65%;
  padding: 1rem;
}

.info .quote {
  margin-top: 1.5rem;
}

.source {
  margin-top: 1rem;
}

/* Info section desktop media queries */
@media only screen and (min-width: 426px){
  .info-block .mobile {
    display: none;
  }
}

/* Info section tablet */
@media only screen and (max-width: 768px) {
  .practice {
    display: none;
  }

  .key-info {
    width: 100%;
    margin: 0;
  }

  .info-block {
    padding: 1rem 0;
  }
}

/* Info section mobile */
@media only screen and (max-width: 425px) {
  .info-block {
    flex-direction: column;
    width: 100%;
  }

  .info-block img, .info-caption {
    width: 100%;
  }

  .info-block .desktop {
    display: none;
  }

  .info .info-block:last-child {
    background-color: white;
  }
}

/* Courses section */

.courses.section {
  background-color: #A6CCE0;
}

.courses h2, .thesis h2 {
  text-align: center;
}

.courses.block {
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.course.details {
  margin: 0;
  height: auto;
  padding: 1rem;
}

.course.item {
  background-color: white;
  width: 30%;
  margin: 2rem 1rem 0;
}

.course.image {
  width: 100%;
  margin: 0;
}

.course img {
  width: 100%;
  height: auto;
}

h4 {
  text-transform: uppercase;
  color: gray;
}

/* Course section small desktop */
@media only screen and (max-width: 1000px) {
  .course.item {
    width: 40%;
  }
}

/* Course section tablet */
@media only screen and (max-width: 662px) {
  .course.image, .course.details h4, .course.details p {
    display: none;
  }

  .course.item {
    width: 100%;
    background-color: #A6CCE0;
    margin: 0 0 0.5rem 0;
  }

  .courses.block {
    padding: 1rem 0 0 0;
  }

  .courses.section {
    background-color: white;
    border-top: 1px solid #A6CCE0;
    border-bottom: 1px solid #A6CCE0;
  }

  .course h3 {
    color: white;
  }
}

/* Thesis section */
.thesis.block {
  display: flex;
  margin-top: 2rem;
}

.video {
  width: 60%;
}

video {
  width: 100%;
}

.thesis h3 {
  margin-top: 1.5rem;
}

.thesis .info-block:first-child {
  background-color: #A6CCE0;
}

.thesis .quote {
  margin-top: 1rem;
}

/* Thesis section tablet */
@media only screen and (max-width: 768px) {
  .thesis .key-info, .video h3, .video p {
    display: none;
  }

  .video {
    width: 100%;
  }

  .thesis.section {
    padding: 0 0 1.5rem;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 2rem;
  border-top: 1px solid #58747F;
}

/* Footer mobile */
@media only screen and (max-width: 425px) {
  footer nav {
    display: none;
  }
}
